@model Garage20.Models.Statistics

@{
    ViewBag.Title = "Index";
}

<hr />

<div>
    
    <div class="panel panel-default">
        <div class="panel-heading"><strong>@Html.DisplayNameFor(model => model.Types)</strong></div>
        <div class="panel-body">

            <div class="row">
                @{ foreach (var t in Model.Types)
                    {
                        string imgFile = "/Images/" + t.Key + ".svg"; ;
                        var absolutePath = Server.MapPath(imgFile);

                        if (!File.Exists(absolutePath))
                        {
                            imgFile = "/Images/Unknown.svg";
                        }

                        <div class="col-sm-2">
                            @t.Value&nbsp;<img src="@imgFile" alt="@t.Key" style="width: 20%;" /> @t.Key
                        </div>
                    }
                }

            </div>

        </div>
        <div class="panel-footer text-right">Total Vehicles: @Model.Types.Sum(v => v.Value)</div>
    </div>

    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Types)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    @foreach (var t in Model.Types)
                    {
                        var imgFile = "/Images/" + t.Key + ".svg";
                        <th><img src="@imgFile" alt="@t.Key" style="width: 10%;" />&nbsp;@t.Key<br /></th>
                    }
                </tr>
                <tr>
                    @foreach (var t in Model.Types)
                    {
                        <td>@t.Value</td>
                    }
                </tr>
            </table>
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Wheels)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wheels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>

<div>
    <img src="@Url.Action("Chart")" />
</div>









<p>
    @Html.ActionLink("Back to List", "Index", "Vehicles", null, new { @class = "btn btn-default" })
</p>

