@model IEnumerable<Garage20.Models.Member>

@{
    ViewBag.Title = "Index";
}

    <div class="panel panel-default">
        <div class="panel-heading">
@using (Html.BeginForm("Index", "Members", FormMethod.Get))
{
            <p>
                <div class="form-inline">
                    First Name: @Html.TextBox("FirstName", null, new { @class = "form-control" })
                    Last Name: @Html.TextBox("LastName", null, new { @class = "form-control" })
                    <div class="btn-group">
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                    @Html.ActionLink("Add Member", "Create", null, new { @class = "btn btn-info pull-right" })
                </div>
            </p>
}
        </div>
        <div class="panel-body">


<table class="table" id="tblVehicles">
    <tr>
        <th onclick="sortTable(0)">
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th onclick="sortTable(1)">
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th onclick="sortTable(2)">
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th onclick="sortTable(3)">
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
        </div>
    </div>

<script src="~/Scripts/garage.js"></script>
