@model IEnumerable<Garage20.Models.ListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Vehicles", FormMethod.Get))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <p>
                <div class="form-inline">
                    Reg.no: @Html.TextBox("regNo", null, new { @class = "form-control" })
                    Type: @Html.DropDownList("VehicleTypeId", null, htmlAttributes: new { @class = "form-control" })
                    <div class="btn-group">
                        <input type="submit" value="Search" class="btn btn-primary" />
                        <!-- NOTE! you cannot use button tag because it will post the form -->
                        <a class="btn panel-default" data-toggle="collapse" data-target="#extended-search-panel">Extended search</a>
                    </div>

                    @Html.ActionLink("Park Vehicle", "Create", null, new { @class = "btn btn-info pull-right" })
                </div>
            </p>
            <div id="extended-search-panel" class="form-inline collapse">
                <p>
                    @*Brand: @Html.TextBox("searchBrand", null, new { @class = "form-control" })
                    Model: @Html.TextBox("searchModel", null, new { @class = "form-control" })*@
                </p>
            </div>

        </div>
        <div class="panel-body">
        </div>
      </div>
}


            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table" id="tblVehicles">
                <tr>
                    <th onclick="sortTable(0)">
                        @*@Html.DisplayNameFor(model => model.Member.FirstName)*@
                        Owner
                    </th>
                    <th onclick="sortTable(1)">
                        @Html.DisplayNameFor(model => model.vehicle.VehicleType.Name)
                    </th>
                    <th onclick="sortTable(2)">
                        @Html.DisplayNameFor(model => model.vehicle.RegNo)
                    </th>
                    <th onclick="sortTable(3)">
                        @Html.DisplayNameFor(model => model.ParkingTime)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.vehicle.Member.FirstName)
                            @Html.DisplayFor(modelItem => item.vehicle.Member.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.vehicle.VehicleType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.vehicle.RegNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParkingTime)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.vehicle.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.vehicle.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.vehicle.Id })
                        </td>
                    </tr>
                }

            </table>

            <script src="~/Scripts/garage.js"></script>
