@model IEnumerable<Garage20.Models.Vehicle>

@{
    ViewBag.Title = "IndexDetailed";
}

<h2>IndexDetailed</h2>

@using (Html.BeginForm("Index", "Vehicles", FormMethod.Get))
{
    @Html.Hidden("Detailed", true)

    <div class="panel panel-default">
        <div class="panel-heading">
            <p>
                <div class="form-inline">
                    Reg.no: @Html.TextBox("regNo", null, new { @class = "form-control" })
                    Type: @Html.DropDownList("VehicleTypeId", null, htmlAttributes: new { @class = "form-control" })
                    <div class="btn-group">
                        <input type="submit" value="Search" class="btn btn-primary" />
                        <!-- NOTE! you cannot use button tag because it will post the form -->
                        <a class="btn panel-default" data-toggle="collapse" data-target="#extended-search-panel">Extended search</a>
                    </div>

                    @Html.ActionLink("Park Vehicle", "Create", null, new { @class = "btn btn-info pull-right" })
                </div>
            </p>
            <div id="extended-search-panel" class="form-inline collapse">
                <p>
                    @*Brand: @Html.TextBox("searchBrand", null, new { @class = "form-control" })
                        Model: @Html.TextBox("searchModel", null, new { @class = "form-control" })*@
                </p>
            </div>

        </div>
        <div class="panel-body">
        </div>
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Member.FirstName)*@
            Owner
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoWheels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Member.FirstName)
            @Html.DisplayFor(modelItem => item.VehicleType.Name)
            <!-- TODO Link to member ??? -->
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoWheels)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
