@model IEnumerable<Garage20.Models.Vehicle>

@{
    ViewBag.Title = "Wel come to our Garage";
}

<h2>List Of Vechicles</h2>

<div class="panel panel-default">
    <div class="panel-heading">Search in garage</div>
    <div class="panel-body">
        @using (Html.BeginForm("Index", "Vehicles", FormMethod.Get))
        {
            <p>
                Reg.no: @Html.TextBox("search")
                <input type="submit" value="Search" />
            </p>
        }

    </div>
</div>



<p>
    @Html.ActionLink("Park Vechiel", "Park")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("CheckOut", "CheckOut", new { id = item.Id })
            </td>
        </tr>
    }

</table>
