@{
    Func<string, string, string> getNavBarActiveStatus = (string action, string controller) =>
    {
        object thisController;
        object thisAction;
        ViewContext.RouteData.Values.TryGetValue("controller", out thisController);
        ViewContext.RouteData.Values.TryGetValue("action", out thisAction);
        if (thisAction.ToString() == action && thisController.ToString() == controller)
            return "class = active";
        else
            return "";
    };
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Garage 2.5</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top garage-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Garage 2.5", "Index", "Vehicles", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li @getNavBarActiveStatus("Index","Vehicles") >@Html.ActionLink("Garage", "Index", "Vehicles")</li>
                    <li @getNavBarActiveStatus("Index","Vehicles") >@Html.ActionLink("Details", "Index", "Vehicles", new { Detailed = true }, null)</li>
                    <li @getNavBarActiveStatus("Index","Members") >@Html.ActionLink("Members", "Index", "Members")</li>
                    <li @getNavBarActiveStatus("Index","Statistics") >@Html.ActionLink("Statistics", "Index", "Statistics")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="hidden-when-printing">
            <p>&copy; @DateTime.Now.Year - Garage v2.0 Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
